[Service]
Type=simple
ExecStart=/usr/bin/node -r /root/petrachor/petra/node_modules/dotenv/config /root/petrachor/petra/index.js
WorkingDirectory=/root/petrachor/petra


User=nobody
Group=nogroup

# Environment variables:
Environment=NODE_ENV=production

# Allow many incoming connections
LimitNOFILE=infinity

# Allow core dumps for debugging
LimitCORE=infinity

StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target